## Numbers

### Types of numeric

- int
- float
- complex

#### Add

In [51]:
# Add int
1 + 10

11

#### Subtract

In [50]:
# Subtract int
10 - 100

-90

#### Multiply

In [49]:
# Multiply complex
(3+7j) * (7+3j)

58j

#### Divide

- Note: division will lead to float

In [48]:
# Divide float with int
69.0 / 5

13.8

### Round off

In [45]:
x = 3.7 * 3.3 / 667
print (x)

0.018305847076461768

In [46]:
# Method 1: Round off to 3 decimal 
print ("%.3f" % x)

0.018

In [47]:
# Method 2: Round off to 3 decimal 
round(x, 3)

0.018

## String

#### Print

In [43]:
# Print text
print("I am learning python basics.")

I am learning python basics.

> Print in table 
sep=';'

In [42]:
print('one', 'two', 'three', sep=';')

one;two;three

> Print with whitespace
\t

In [41]:
print("Colours:\twhite\tgreen\tred\tgrey")

Colours:	white	green	red	grey

> Print a new line
\n

In [40]:
print("Colours:\nwhite\ngreen\nred\ngrey")

Colours:
white
green
red
grey

### User input

#### Input name

In [39]:
name = input("Enter your name: ")
print(name)

Enter your name: Python
Python

#### Input integer

In [37]:
number = input("Enter number: ")
number = int(number)

print(number)

Enter number: 22
22

#### Input float

In [36]:
number = input("Enter number: ")
number = float(number)

print(number)

Enter number: 2.2
2.2

#### User input text in sentence

In [33]:
print("What is your name?")
name = input("Enter your name: ")
print("Hello, your name is " + name + "!")

What is your name?
Enter your name: Mario
Hello, your name is Mario!

#### User input number in sentence

In [32]:
print("What is your age?")
age = input("Enter your age: ")
print("Hello," + name + " you are " + age + " years old.")

What is your age?
Enter your age: 42
Hello,Mario you are 42 years old.

### Variable & Data Types

#### Common data types

- Integer
- float
- string

In [1]:
# string
x = "hello world"
print(type(x))

<class 'str'>

In [2]:
# integer
x = 100
print(type(x))

<class 'int'>

In [3]:
# float
x = 9.9
print(type(x))

<class 'float'>

In [4]:
# list
fruits = ["apple", "mango", "orange", "avocado"]
print(type(fruits))

<class 'list'>

In [5]:
# dictionary
x = {"name" : "Mario", "age" : 42}
print(type(x))

<class 'dict'>

### Concatenating strings

In [6]:
# Print name only
first_name = "hello"
last_name = "python"
full_name = first_name + " " + last_name
print(full_name)

hello python

In [7]:
# Print name in setence
name = "hello python"
age = "100"

print("My name is " + name + " age is " + age + " years old.")

My name is hello python age is 100 years old.

#### Replace text

In [8]:
# Replace language with basics
code = "Python Language"
print(code.replace("Language", "Basics"))

Python Basics

#### Title case

In [9]:
# Change to uppercase
x = "learn python"
print(x.title())

Learn Python

#### Upper case

In [10]:
x = "java"
print(x.upper())

JAVA

#### Lower case

In [11]:
x = "Html"
print(x.lower())

html

#### Convert str to int

In [12]:
# integer
x = "2.9"
print(int(2.9))

2

#### String index position

In [13]:
# Find position of letter 'g'
fruits = "Python Language"
print(fruits.index("g"))

10

## Python quick guide

### List

In [14]:
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

['apple', 'berries', 'mango', 'orange', 'avocado']

### Access elements in a list by index

In [15]:
# find fruit index 4 position
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits[4])

avocado

### Replace item within index position

In [16]:
# replace mango with drangofruit
fruits = ["apple", "berries", "mango", "orange", "avocado"]
fruits[2] = "dragonfruit"
print(fruits)

['apple', 'berries', 'dragonfruit', 'orange', 'avocado']

### Adding elements to a list

> Append

In [17]:
# append to end
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

fruits.append('durian')
print(fruits)

['apple', 'berries', 'mango', 'orange', 'avocado']
['apple', 'berries', 'mango', 'orange', 'avocado', 'durian']

> Insert

In [18]:
# insert any position
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

fruits.insert(2, 'pear')
print(fruits)

['apple', 'berries', 'mango', 'orange', 'avocado']
['apple', 'berries', 'pear', 'mango', 'orange', 'avocado']

### Removing elements to a list

> delete

In [19]:
# delete any position
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

del fruits[3]
print(fruits)

['apple', 'berries', 'mango', 'orange', 'avocado']
['apple', 'berries', 'mango', 'avocado']

> pop

In [20]:
# pop end position
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

popped_fruits = fruits.pop()
print(fruits)

print(popped_fruits)

['apple', 'berries', 'mango', 'orange', 'avocado']
['apple', 'berries', 'mango', 'orange']
avocado

In [21]:
# pop any position
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

popped_fruits = fruits.pop(3)
print(fruits)

['apple', 'berries', 'mango', 'orange', 'avocado']
['apple', 'berries', 'mango', 'avocado']

### Sort

In [22]:
# Sort according to alphabetical order
fruits = ["apple", "berries", "mango", "orange", "avocado"]
fruits.sort()
print(fruits)

['apple', 'avocado', 'berries', 'mango', 'orange']

In [23]:
# sort reverse
fruits = ["apple", "berries", "mango", "orange", "avocado"]
fruits.sort(reverse = True)
print(fruits)

['orange', 'mango', 'berries', 'avocado', 'apple']

#### Length of string

In [24]:
# Input of string
name = input("Enter your name: ")
print(len(name))

Enter your name: Mario
5

In [25]:
# Hardcoded of string
code = "Python Language"
print(len(code))

15

In [26]:
# List of string
fruits = ["apple", "berries", "mango", "orange", "avocado"]
len(fruits)

5

### Slice

In [27]:
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

# start at beginning till index position 2
print(fruits[:3])

['apple', 'berries', 'mango']

['apple', 'berries', 'mango', 'orange', 'avocado']
['apple', 'berries', 'mango']
['apple', 'berries', 'mango', 'orange', 'avocado']

In [28]:
fruits = ["apple", "berries", "mango", "orange", "avocado"]
print(fruits)

# start at indext position 2 till end
print(fruits[3:])

['apple', 'berries', 'mango', 'orange', 'avocado']
['orange', 'avocado']

### Dictionaries

In [29]:
### Create a dictionary

    # dictionary = {keys:values}
    # dictionary = {"a" : 1, "b": 2}

class_list = {'Alpha': 10, 
              'Beta': 12,
              'gamma': 9,
              'delta' : 8}
class_list

{'Alpha': 10, 'Beta': 12, 'gamma': 9, 'delta': 8}

In [30]:
# find gamma age
class_list['gamma']

9